BOT_TOKEN=ISI_TOKEN_BOT_TELEGRAM
OWNER_IDS=7562630960
OWNER_USERNAME=@Xinn29
BOT_NAME=XINN Web2APK Pro GitHub Builder
BANNER_URL=https://files.catbox.moe/js64bo.png

FREE_CREDIT=5
MAX_ZIP_MB=100
BUILD_TIMEOUT_MINUTES=35

GITHUB_TOKEN=ISI_GITHUB_TOKEN_CLASSIC
GITHUB_OWNER=USERNAME_GITHUB_KAMU
GITHUB_REPO=NAMA_REPO_BUILDER
